body {
    font: samll/1.6em Verdana, Helvetica, Arial, sans-serif;
}

h1, h2 {
  color:               #007e7e;
}

h1 {
  font-size:           150%;
}

h2 {
  font-size:           130%;
}

#guarantee {
  line-height:         1.9em;
  font-style:          italic;
  font-family:         Georgia, "Times New Roman", Times, serif;
  color:               #444444;
  border-color:        white;
  border-width:        1px;
  border-style:        dashed;
  background-color:    #a7cece;
  padding:             25px;
  padding-left:        80px;
  margin:              30px;
  margin-right:        250px;
  background-image:    url(images/background.gif);
  background-repeat:   no-repeat;
  background-position: top left;
}

#elixirs {
    border: thin solid #007e7e;
    width: 200px;
    margin: 0px 20px 30px 10px;
    padding: 0px 20px 30px 10px;
    text-align: center;
    background: white url(images/cocktail.gif) repeat-x;
    line-height: 1;
    float: right;
}

#elixirs h2 {
    color: black;
}

#elixirs a:link {
    color: #007e7e;
}

#elixirs a:visited {
    color: #333333;
}

#elixirs a:hover {
    background-color: #f88396;
    color: #0d5353;
}


a:link {
    color: #007e7e;
}

a:visited {
    color: #333333;
}


.footer {
    font-size: 50%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
}

.cd {
    font-style: oblique;
}

.artist {
    font-weight: bold;
}
